<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSAccessibilityUsageDescription</key>
    <string>BlurAutoClicker needs Accessibility access to simulate mouse clicks and detect global keyboard shortcuts, even when running in the background.</string>
</dict>
</plist>
